@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');


$logo-font: "Sen-Bold", Helvetica;
$para-font: 'Poppins', sans-serif;
$header-font: 'Sen', sans-serif;
$main-color: #c88a40;


@layer {

  .input-style {
    @apply w-[374px] bg-orange-200 rounded-[61px]
  }

}

h1 {
  font-family: $logo-font;
}

h2 {
  font-family: $header-font;
}

.home {
  background: linear-gradient(to right, $main-color 72%, transparent 72%), url('./assets/landing.png');
  background-position: right;
  overflow-x: hidden;

  .opacity {
    position: absolute;
    right: 0;
    width: 28%;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .main-content {
    min-height: calc(100vh - 64px);
  }

  p {
    font-family: $para-font;
  }
}

.How-We-Work {
  background: linear-gradient(to left, $main-color 72%, transparent 72%), url('./assets/landing.png');
  background-position: left;
  overflow-x: hidden;

  .opacity2 {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 28%;

    background-color: rgba(255, 255, 255, 0.4);
  }

  p {
    font-family: $para-font ;
  }

}

.about {
  background: linear-gradient(to right, $main-color 72%, transparent 72%);
  overflow: hidden;

  p {
    font-family: $para-font ;
  }
}

.recipes {
  overflow: hidden;

  p,
  h3 {
    font-family: $para-font ;
  }
}

.Testymonials {
  background: $main-color;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .cover {
    width: 100%;
    height: 100%;
    background: url('./assets/Group.png');
    opacity: 0.4;
    position: absolute;
    z-index: 2;
  }

  h3 {
    font-size: 1.1rem;
    font-family: $para-font ;
  }

  p {
    font-family: $para-font ;
  }
}

@media (max-width: 768px) {


  .about {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, $main-color 72%, transparent 72%);
    background-position: bottom;
  }

}

@media (max-width: 992px) {

  .home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, $main-color 50%, transparent 50%), url('./assets/landing.png');
    background-position: bottom;

    // .opacity {
    //   position: absolute;
    //   top: 100%;
    //   height: 100vh;
    //   width: 100vh !important;
    //   background-color: rgba(255, 255, 255, 0.4);
    // }
  }



  .How-We-Work {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, $main-color 50%, transparent 50%), url('./assets/landing.png');
    background-position: bottom;


    .opacity2 {
      display: none;
    }

    // background: linear-gradient(to right, $main-color 72%, transparent 72%);


  }


  .about {
    background: linear-gradient(to bottom, $main-color 72%, transparent 72%);
  }

  // .How-We-Work .opacity2 {
  //   height: 85vh;
  // }


}

// .img::before{
// content: '';

// }

.img{
  background-color:red;
  background-clip: text;
  
}
// @media (max-width: 1200px) {

//   .How-We-Work .opacity2 {
//     height: 102vh;
//   }

// }

// @media (max-width: 1400px) {
//   .How-We-Work .opacity2 {
//     height: 91vh;
//   }
// }



input::-webkit-input-placeholder {
  color: #584125 !important;
  font-weight: 800;
  font-family: $header-font;
}

// <div className='opacity h-screen ml-auto w-[28%]'></div>



.logo-text {
  font-family: $logo-font ;
}

.main-content {
  position: relative;
  z-index: 50;
}


.Ellipse {
  width: 800px;
  height: 700px;
  border-radius: 800px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(228, 166, 92) 0%, rgba(228, 166, 92, 0) 100%);
  position: absolute;
  z-index: 1;
}

  // background: radial-gradient(50% 50% at 50% 50%, rgb(242.25, 167.52, 79.74) 0%, rgba(228.44, 165.78, 92.33, 0) 100%);


// .How-We-Work h2 {
//   font-family: $logo-font ;
// }


// .right-land{
//   background: url('./assets/landing.png');

// }


// .How-We-Work .picture {
//   left: calc(20px + 28vw);
// }

// .How-We-Work .img {
//   width: calc(50px + 25vw);
// }